body {
    margin: 0;
    font-family: monospace;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.create-account {
    width: 55%;
    height: 100%;
    background-color: #FDD251;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-account > p {
    width: 80%;
    text-align: center;
    font-size: x-large;
    margin-top: 0;
    font-size: 1.1rem;
}

.create-account > h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.create-account > img {
    width: 400px;
}

.create-account > a {
    font-size: 1.2rem;
    padding: 30px 50px;
    border-radius: .5em;
    border: none;
    box-shadow: 0px 3px 4px #b38a10;
    font-weight: bold;
    color: #FDD251;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    cursor: pointer;
}

span {
    color: #FDD251;
}

a {
    text-decoration: none;
    color: #928D8D;
    margin-top: 15px;
    text-align: center;
}

.log-in {
    padding: 7% 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45%;
    justify-content: space-evenly;
    align-items: stretch;
}

form > input {
    padding: 15px;
    font-size: 1.3rem;
    border: none;
    outline: none;
    background: #F5F5F5;
    border-radius: .2em;
}

form > button {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 15px;
    border: none;
    background: #FDD251;
    box-shadow: 0 2px 6px #4e4c477f;
    color: white;
    cursor: pointer;
    border-radius: .2em;
}

form > div {
    text-align: end;
    color: #FDD251;
}

.log-in > h1 {
    font-size: 2.2rem;
    text-align: center;
}

.log-in > h4 {
    text-align: center;
    margin-top: 0;
    color: #928D8D;
    cursor: pointer;
}

.logo-container {
    text-align: center;
}

.logo-container > img {
    width: 65px;
    cursor: pointer;
    margin: 0px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.logo-container > img:nth-child(2) {
    border: 1px solid #928D8D;
    border-radius: 50%;
}



